@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Libetinus-serif";
    background-color: #e4ebf0;
    color: #1a1a1a;
}
#Cabeçalho{
    margin-top: 20px;
}
header {
    background-color: #4180ab;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #1d1c1c;
}
about-section {
    display: block;
    background-color: #8ab3cf;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 48px;
    color: #1a1a1a;
}
main {
    background-color: #e4ebf0;
    flex: 1;
    width: 100%;
    padding: 48px 38px;
}
.sobremim, #titulo {
    font-size: 30px;
    color: #1a1a1a;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.hobbit, #hobby {
    font-size: 30px;
    color: #1a1a1a;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
about-section2 {
    display: block;
    background-color: #bdd1de;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 48px;
    color: #1a1a1a;
}
ul{
    list-style: none;
    padding: 10px 10px;
    display: flex;
    gap: 48px;
    text-align: center;
    background-color: #8ab3cf;
    border-radius: 10px;
}
li{
    display: block;
    border-left: 4px solid #4180ab;
    min-width: 200px;
    padding: 12px;
    font-size: medium;
    color: #1a1a1a;
}
li:hover{
    background-color: #4180ab;
    color: #ffffff;
    transform: translateX(5px);
    transition: all 0.3s ease;
}
contact{
    display: block;
    background-color: #8ab3cf;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-top: 40px;
    color: #1a1a1a;
}
contact h1{
    margin-bottom: 8px;
    text-align: center;
    color: #1a1a1a;
}
contact p{
    text-align: center;
    font-size: 22px;
    color: #1a1a1a;
}
contact a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid #bdd1de;
    border-radius: 25px;
    display: inline-block;
}
contact a:hover {
    background-color: #bdd1de;
    color: #1a1a1a;
    transform: translateY(-2px);
}
footer {
    background-color: #4180ab;
    text-align: center;
    padding: 2rem;
    width: 100%;
}
footer p {
    font-size: 1rem;
    color: #ffffff;
}

