@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de Cores Atual */
:root {
    --mint-green: #c9fbff;
    --celeste: #c2fcf7;
    --tiffany-blue: #85bdbf;
    --paynes-gray: #57737a;
    --rich-black: #040f0f;
}

body {
    font-family: 'Libertinus Serif', serif;
    background-color: var(--rich-black);
    color: var(--mint-green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--paynes-gray);
    color: var(--mint-green);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--tiffany-blue);
}

main {
    flex: 1;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.linguagens-section {
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.linguagens-section h2 {
    font-size: 2rem;
    color: var(--tiffany-blue);
    margin-bottom: 30px;
}

.linguagens-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.linguagem-card {
    background-color: var(--paynes-gray);
    border-radius: 15px;
    width: 800px; /* Largura do quadro aumentada para o texto ficar mais largo */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--mint-green);
    overflow: hidden;
}

.linguagem-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.descricao-linguagem {
    padding: 50px;
}

.descricao-linguagem h3 {
    margin-bottom: 10px;
    color: var(--tiffany-blue);
}

.descricao-linguagem p {
    font-size: 0.95rem;
    line-height: 1.4;
    color: var(--mint-green);
}

a {
    color: var(--tiffany-blue);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid var(--tiffany-blue);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    background-color: var(--tiffany-blue);
    color: var(--rich-black);
    transform: translateY(-3px);
}

footer {
    background-color: var(--paynes-gray);
    color: var(--mint-green);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

/* Cores dos textos adicionados */
#title {
    color: rgb(240, 240, 240);
}

#text {
    color: rgb(216, 234, 243);
}


#java {
    color: white;
}